/* Area Navbar */
/* Font yang tersedia */

/*  - 'Open Sans'
    - 'Raleway' */


/* CSS BOX SHADOW ONLY ONE AREA */
/* .top{
    box-shadow: 0 -5px 5px -5px #333;
}

.right {
    box-shadow: 5px 0 5px -5px #333;
}

.bottom {
    box-shadow: 0 5px 5px -5px #333;
}

.left {
    box-shadow: -5px 0 5px -5px #333;
} */

/* Pengaturan Spinner loading page */
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(./gift/Preloader_3.gif) center no-repeat #fff;
}

/* pengaturan Body */
body{
    background: white;
    position: relative;
}
/* Mengatur navbar */
.navbar{
    position: relative;
    z-index: 1;
}
/* mengatur .navbar-brand */
.navbar-brand{
font-family: 'Viga', sans-serif;
font-weight: 600;
text-transform: uppercase;
}
/* mengatur text navbar-brand */
.navbar-brand span{
    color: rgb(8, 239, 255);
}

/* mengatur navbar pada halaman profil */
.navbar-brand img{
    border: 3px solid rgb(111, 0, 255);
    border-radius: 50%;
    box-shadow: 1px 1px 2px red;
    width: 40px;
    height: 40px;
}

/* mengatur style font .navbar-nav */
.navbar-nav{
    font-family: 'Open Sans', sans-serif;
}

/* mengatur jarak antar nav-item */
.nav-item{
    margin-right: 15px;
}
/* mengatur navbar tonggle */
.navbar-toggler{
    background: rgba(248, 222, 222, 0.548);
}


/* UTILITY */
/* template tombol */
.tombol{
    text-transform: uppercase;
    border-radius: 50px;
    width: 60%;
    margin: auto;
}
/* Template Judul*/


/*PENGATURAN JUMBOTRON */
.jumbotron{
    background-image: url(./bg/bg_landing.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

/* membuat efek grafient sadhow pada jumbotron */
.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) );
    position: absolute;
    bottom: 0;
     
}
.jumbotron .container{
    position: relative;
    z-index: 1;
}
.jumbotron h3 {
    color: snow;
    font-family:'Open Sans', sans-serif;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 150px;
}
.jumbotron h3 span{
    font-weight: bold;
    color: rgb(0, 159, 233);
}

/* background gird */
.gird-artikel{
    background-size: cover;
    background: mediumseagreen;
    margin-top: -32px;
    height: 100px;
    
}
/* Mengatur Area Card */

 .container .card{
    margin: auto;
    margin-top: -56px;
    margin-bottom: 80px !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    }
    
    .card-header{
    text-align: center;
    font-size: 20px;
    }
    
    .card-body{
    background-color: mintcream;
    color: rgb(48, 48, 48);
    margin: 0 2px 5px 2px ;
    }

/* Info Setting Area*/
.info{
background-color:whitesmoke;
border-top-left-radius: 20px;
border-top-right-radius: 20px;

}
/* pengaturan info header */

.info-header{
background:whitesmoke;
font-family: 'Viga', sans-serif;
color: rgb(61, 61, 61);
text-transform: uppercase;
text-align: center;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/* pengaturan info body pada home/ profil depan*/
.info-body{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imgInfo{
margin-top: 20px;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 10px;
}
.imgInfo img{
    border: 5px solid rgb(0, 159, 233);
    border-radius: 8px;
    min-width: 20rem;
    margin: auto;
}
.keterangan{
margin: auto;
background:whitesmoke;
border-radius: 8px;

}

.keterangan p a{
    border-radius: 25px;
    text-transform: capitalize;
}

/* Pengaturan Area Footer */
.footer{
    position: absolute;
    background: rgb(0, 63, 71);
    height: 300px;
    width: 100%;
    display: flex;
}
/* =============== */
.footer .profil{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 255, 179);
    text-transform: uppercase;
    
}
.footer .profil a{
    color: rgb(2, 255, 171);
}
.footer .profil .list-group{
    text-align: center;
    color: rgb(0, 204, 255);
    text-transform: capitalize;
}
/* =============== */
.footer .berita{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 255, 179);
    text-transform: uppercase;
}
.footer .berita a{
    color: rgb(2, 255, 171);
}
.footer .berita .list-group{
    text-align: center;
    color: rgb(0, 204, 255);
    text-transform: capitalize;
}
/* ================ */
.footer .contact{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 255, 179);
    text-transform: uppercase;
}
.footer .contact a{
    color: rgb(2, 255, 171);
}
.footer .contact .list-group{
    text-align: center;
    color: rgb(0, 204, 255);
    text-transform: capitalize;
}
/* <<<<<<<<<<>>>>>>>>>> */
.copyright {
    position: relative;
    display: flex;
    margin-top: 250px;
    color: rgb(9, 132, 255);
    background: rgb(2, 73, 67);
    height: 50px;
    justify-content: center;
    font-size: 18px;
    text-transform: capitalize;
}
/* ---=========--- */

/* css profil.php area */
/* area tentang */
.tentang{
    justify-content: space-between;
    display: flex;
    background: rgb(33, 33, 48);
    margin: auto;
    
}   
    .tentang-judul h4{
        font-size: 50px;
        color: azure;
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-shadow: 1px 1px 2px rgb(255, 255, 255);
    }
    .tentang-img img{
    top: auto;
    margin-bottom: 40px;
    min-width: 25rem;
    border: 2px solid aqua;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 5px rgba(136, 201, 255, 0.733);

}
.tentang-txt{
    top: auto;
    background: rgba(155, 190, 255, 0.781);
    color: rgb(43, 43, 43);
    min-width: 25rem;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 2px solid aqua;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 5px steelblue;
    
}
/* css daftar-guru.php */
/* area listGuru */

.listGuru{
    display: flex;
    justify-content: space-between;
    background: rgb(36, 75, 85);
}

.list-judul{
    margin-top: 50px;
    margin-bottom: 50px;
}
.list-judul h2, h3{
    color: rgb(215, 225, 255);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(8, 239, 255);
}
.profil-guru{
    display: block;
    margin: auto;
}
.list-body{
    background: rgb(136, 217, 255);
    max-width: 20rem;
    border-radius: 15px;
}
.list-body img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}    
.list-text{
    margin: 10px 10px 10px 10px;
}

/* css kontak kami pada profil page */
/* area kontak */
.kontak-area{
    background: #0c192b;
}
.kontak{
    text-align: center;
    display: flex;
    border-bottom: 3px solid skyblue;
}
.kontak-header h2{
    color: rgb(8, 255, 132);
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgb(2, 255, 57);
    margin: 50px 0 50px 0;
}
.kontak-body{
max-width: 15rem;
margin: auto;
}
.kontak-body img{
    border: 3px solid #076eff;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0 #00c3ff;
    margin-bottom: 20px;
}
.kontak-teks{
    border: 3px solid rgb(0, 255, 242);
    margin-bottom: 40px;
    border-radius: 25px;
    padding: -5px;
}
.kontak-teks h4{
    color: rgb(248, 199, 2);
    margin-top: 10px;
}
.kontak-teks p{
    color: rgb(250, 220, 102);
}

/* -------==========-------- */
/* area google maps */
.peta{
position: relative;
}
.peta h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.peta .gmap_canvas iframe {
    display: flex;
    height: 767px;
    border: 3px solid steelblue;
    border-radius: 20px;
    box-shadow: 2px 2px 4px turquoise;
}


/* css halaman berita */
/* area sidebar */

/* SPESIFIK SMARTPHONE VERSION */
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    /* mengatur navbar */
    .navbar {
        background: rgb(100, 113, 124);
    }
    /* mengatur apa yang ada di jumbotron */

    .jumbotron h3 {
        font-size: 25px;
        font-weight: 500;
    }
    .tombol{
        margin-top: 25px;
    }
    .card .container{
        margin-bottom: 20px;
    }
 }

 /*SPESIFIK TABLET & NOTEBOOK VERSION*/
/* Medium devices (tablets, 768px and up) */

 @media (min-width: 768px) { 
    .navbar {
        background:slategray;
    } 
    .jumbotron h3 {
        font-size: 35px;
        font-weight: 500;
    }
    
    .jumbotron a{
        margin-top: 25px;
    } 

}

/* DESKTOP VERSION */
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
/* Area Pengaturan bagian navbar */

/* mengatur navbar */
.navbar{
        background: transparent;
    }

.navbar-brand, .nav-link {
    color: cornsilk !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
/* mengatur style font .navbar-nav */
.navbar-nav{
    font-family: 'Open Sans' sans-serif;
    text-transform: uppercase;
    }
.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom:  3px solid #3027af ;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}
/* Mengatur Tombol */ 
.tombol{
    width: auto;
}

/* Mengatur Apa yang ada di dalam Jumbotron */
/* Mengatur jumbotron */
.jumbotron{
    margin-top: -75px;
    height: 640px;
}

.jumbotron h3 {
    font-size: 50px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

 }

